body {
	color: #dadada;
	background: #383838;
}

a:link {
	color: #739fcf;
	text-decoration: none;
}
a:visited {
	color: #739fcf;
	text-decoration: none;
}
a:hover {
	color: #34e2e2;
	text-decoration: none;
}

h1 { color: #8ae234; }
h2 { color: #c4a000; }
h3 { color: #8ae234; }
h4 { color: #4e9a06; }

h1, h2 { text-align: center; }

body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 40em) {
	.resright {
		display: block;
		float: right;
		padding: 20px;
		clear: both;
		max-height: 250px;
		max-width:250px;
	}
}

.column {
	float: left;
	width: 50%;
}

nav { text-align: center; }

footer { text-align: center; }
